$list: ();
$tmp: 0;

@while $STDIN!=""{
    $val: get();

    @if $val == "" {
        $list: append($list,$tmp);
        $tmp: 0;
    } @else {
        $tmp: $tmp + number($val);
    }
}

@debug max($list...);